header {
  height: 90vh;
  padding-top: 7rem;
  overflow: hidden;

}

.header__container {
  /* text-align: center; */
  height: 100%;

  /* position: relative; */
  display: grid;
  grid-template-columns: 50% 30%;
  gap: 5rem;
}

.header-container__1 {
  /* border: 3px solid red; */
  margin-top: 2rem;
}
.header-container__1 h5 {
  font-size: 1.3rem;
  font-weight: 100;
}

.header-container__1 h1 {
  font-size: 4.5rem;
}

.header-container__1 .text-name {
  font-size: 1.8rem;
  font-weight: 100;
}
/* ==================== CTA =================== */
.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  /* justify-content: center; */
}
/* ==================== HEADER SOCIALS =================== */
.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.9rem;
  position: absolute;
  right: 6rem;
  bottom: 9rem;
  /* border: 3px solid red; */
}

/* ==================== SOCIAL SCROLL =================== */
/* .scroll__down {
  position: absolute;
  right: 5rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
} */

.header__socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}

/* ===================CSS ANIMATION ============ */
/* .container .text{
  position: relative;
  color: #4070F4;
  font-size: 30px;
  font-weight: 600;
}
.container .text.first-text{
  color: #FFF;
}
.text.sec-text:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #010718;
  border-left: 2px solid #4070F4;
  animation: animate 4s steps(12) infinite;
}
@keyframes animate{
  40%, 60%{
      left: calc(100% + 4px);
  }
  100%{
      left: 0%;
  }
} */

/* ==================== ME =================== */
.me {
  background: linear-gradient(var(--color-primary), transparent);
  width: 22rem;
  height: 25rem;
  /* position: absolute; */
  left: calc(50% - 11rem);
  /* margin-top: 4rem; */
  border-radius: 12rem 30rem 12rem 30rem;
  overflow: hidden;
  animation: bounce 2s infinite alternate;
  /* padding: 5rem 1.5rem 1.5rem 1.5rem; */
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-10px);
  }
}
/* ==================== SOCIAL SCROLL =================== */
/* .scroll__down {
  position: absolute;
  right: 5rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
} */

/* ================ MEDIA QUERIES (MEDIUM DEVICES ==================== */
@media screen and (max-width: 1024px) {
  .header {
    height: 68vh;
  }
  .header__container {
    grid-template-columns: 1fr;
    gap: 1rem;
    text-align: center;
  }

  .cta {
    justify-content: center;
  }
  .me {
    margin: 4rem auto;
  }

  .header-container__1 h5 {
    font-size: 1rem;
  }

  .header-container__1 h1 {
    font-size: 2.5rem;
  }

  .header-container__1 .text-name {
    font-size: 1.1rem;
  }
}

/* ================ MEDIA QUERIES (SMALL DEVICES ==================== */
@media screen and (max-width: 650px) {
  .header {
    height: 100vh;
  }
  .header__container {
    grid-template-columns: 1fr;
    gap: 1rem;
    text-align: center;

    /* border: 3px solid red; */
  }

  .cta {
    justify-content: center;
  }

  .header-container__1 {
    margin-top: 2rem;
  }
  .header-container__1 h5 {
    font-size: 1rem;
  }

  .header-container__1 h1 {
    font-size: 2.5rem;
  }

  .header-container__1 .text-name {
    font-size: 1.2rem;
  }
  .me {
    margin-top: 4rem;
  }
  .header__socials,
  .scroll__down {
    display: none;
  }
}
